$primary: #5bbbef;
$secondary: #9de897;
$dark : #000000;
$white: #ffff;

$color1: #5bbbef;
$color2: #9de897;
$color3: #2f552c;
$color4: #0d9004;
$colorlink: #35BBB4;
$colorlinkhover: lighten($colorlink, 10%);

$back: #FF686B; // red
$lay:  #5C95FF; //ligth blue
$stake: #3FCA7E; //green
$gray: #8B96A2; //gray
$background: #000000;


$darkerbg: rgba(42, 48, 56, 0.5);


:root{
    --primary:  #7ac1eb;
    --secondary: #d065c3;
    --dark: #000000;  
    --white: #ffff;
} 

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;