.category-todays-plays{
    margin-top: 33px;
    .play_title{
        padding: 1em 0;
        border-top: 3px solid rgba(67, 95, 93, 0.4) !important;
    }
    @media only screen and (max-width:50em) { 
        .team, #team_a.team, #team_b.team, #draw.team{
            box-shadow: 0 3px 2px -2px rgba(0,0,0,0.6);
            margin-bottom: 6px;
            width: 100%;
            justify-items: center;
        }
    }
    .teams_draw_wrapper{
        margin-top: 33px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-column-gap: 15px;
        @media only screen and (max-width:50em) { 
            grid-template-columns: 1fr;
            grid-row-gap: 15px;
            justify-items: center;
        }
        
        #team_a, #team_b{
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 15px;
            padding: 0.3em 0.5em;
            @media only screen and (max-width:50em) {
                justify-items: center;
            }
            img{
                min-height: 128px !important;
                max-height: 200px !important;
                justify-self: center;
            }
            .bookies_wrapper{
                align-self: start;
                display: grid;
                justify-self: center;
            }
        }
        #draw{
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr;
            padding: 0.3em 0.5em;
            align-items: end !important;
            h3{text-align: center;}
        }
    }
    .teams_no_draw_wrapper{
        margin-top: 33px;
        display: grid;
        grid-template-columns: 400px 400px;
        @media only screen and (max-width:50em) { 
            grid-template-columns: 1fr;
            justify-items: center;
        }
        #team_a, #team_b{
            display: grid;
            grid-template-columns: 1fr;
            padding: 0.3em 0.5em;
            grid-row-gap: 15px;
        }
    }
    .outcomes_wrapper{
        margin-top: 33px;
        p{
            margin-top: 1em;
            strong{
                span.negative{
                    color: #ff0000;
                }
                span.positive{
                    color: #35bd74;
                }
            }
        }
    }
    .possible_bonuses_wrapper{
        margin-top: 33px;
        
    }
    .notes_wrapper{
        margin-top: 15px;
        ul{
            padding-left: 1.4em;
        }
    }
}
